html {
    scroll-behavior: smooth;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.glass-panel {
    background: rgba(25, 37, 64, 0.6);
    backdrop-filter: blur(12px);
}
.hero-gradient {
    background: radial-gradient(circle at 50% 50%, rgba(59, 191, 250, 0.15) 0%, rgba(6, 14, 32, 0) 70%);
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
